@page "/counter"
@rendermode InteractiveServer

@inject CounterState State;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        currentCount = State.Value;
    }

    private void IncrementCount()
    {
        State.Value++;
        currentCount = State.Value;
    }
}
